{% extends "quest/base.html" %}
{% load static %}

{% block content %}
<section id="top_content" class="top_cont_outer">
  <div class="container">
    <div class="row">
      <div class="top_left_cont flipInY wow animated">
        <h2>4 oh 4!</h2>
        <p>
          The news website did not respond! Please try with some other news source.
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}