{% extends "quest/base.html" %}
{% load static %}

{% block content %}
<section class="main-section" id="client_outer"><!--main-section client-part-start-->
  <h2>Article Analysis</h2>
  <div class="client_area ">
    <div class="client_section animated  fadeInUp wow" style="text-align: center; vertical-align: middle; margin-left:auto; margin-right:auto;">
      <div class="quote_section flt">
        <div class="quote_arrow2"></div>
        <p><b><img src="{% static 'quest/img/quote_sign_left.png' %}" alt=""></b></br>
          <h3>KEYWORDS:</h3> {{ a_dict.keywords }}</br></br>
          <h3>SUMMARY:</h3> {{ a_dict.summary }}</br></br>
          <h3>POSITIVE OR NEGATIVE SENTIMENT:</h3> {{ a_dict.polarity }} </br>
          <small><img src="{% static 'quest/img/quote_sign_right.png' %}" alt=""></small> </p>
      </div>
      <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
    </br></br><form action="{% url 'quest:mail' %}" method="post">
      {% csrf_token %}
      <h3 align="center">Send the analysis and article to my {{ form }}</h3>
      <div align="center"><input class="input-btn animated wow flipInY" type="submit" value="Send Mail!" /></div>
    </form>
    </br><h2>Detailed Article</h2>
    <div class="client_section animated  fadeInDown wow" style="text-align: center; vertical-align: middle; margin-left:auto; margin-right:auto;">
      <div style="text-align: center; vertical-align: middle; margin-left:auto; margin-right:auto;">
        <a href="{{ a_dict.url }}"><h3>{{ a_dict.title}}</h3></br>
          <span>{{ a_dict.authors}}</span></br></br>
          <div class="client_profile_pic" style="text-align: center; vertical-align: middle; margin-left:auto; margin-right:auto;"><img style="height: 100%; width: 100%; object-fit: cover; text-align: center; vertical-align: middle; margin-left:auto; margin-right:auto;" src="{{ a_dict.img }}" alt="{{ a_dict.title }}"></div>
        </a>
      </div>
      <div class="quote_section">
        <div class="quote_arrow"></div>
        <p><b><img src="{% static 'quest/img/quote_sign_left.png' %}" alt=""></b></br> {{ a_dict.desc }} </br>
          <small><img src="{% static 'quest/img/quote_sign_right.png' %}" alt=""></small> </p>
      </div>
      <div class="clear"></div>
    </div></br>
  </div>
</section>
</br></br>
<!--main-section client-part-end-->

{% endblock content %}