{% load static %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, maximum-scale=1">
<title>IshitaJain</title>

<link rel="icon" href="{% static 'quest/favicon.png' %}" type="image/png">
<link href="{% static 'quest/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'quest/css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'quest/css/linecons.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'quest/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'quest/css/responsive.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'quest/css/animate.css' %}" rel="stylesheet" type="text/css">

<link href='http://fonts.googleapis.com/css?family=Lato:400,900,700,700italic,400italic,300italic,300,100italic,100,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dosis:400,500,700,800,600,300,200' rel='stylesheet' type='text/css'>

<!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->

<script type="text/javascript" src="{% static 'quest/js/jquery.1.8.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'quest/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'quest/js/jquery-scrolltofixed.js' %}"></script>
<script type="text/javascript" src="{% static 'quest/js/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'quest/js/jquery.isotope.js' %}"></script>
<script type="text/javascript" src="{% static 'quest/js/wow.js' %}"></script>
<script type="text/javascript" src="{% static 'quest/js/classie.js' %}"></script>

<!--[if lt IE 9]>
    <script src="{% static 'quest/js/respond-1.1.0.min.js' %}"></script>
    <script src="{% static 'quest/js/html5shiv.js' %}"></script>
    <script src="{% static 'quest/js/html5element.js' %}"></script>
<![endif]-->

<script type="text/javascript">
	$(document).ready(function(e) {
        $('.res-nav_click').click(function(){
		$('ul.toggle').slideToggle(600)
			});

	$(document).ready(function() {
$(window).bind('scroll', function() {
         if ($(window).scrollTop() > 0) {
             $('#header_outer').addClass('fixed');
         }
         else {
             $('#header_outer').removeClass('fixed');
         }
    });

	  });


		    });
function resizeText() {
	var preferredWidth = 767;
	var displayWidth = window.innerWidth;
	var percentage = displayWidth / preferredWidth;
	var fontsizetitle = 25;
	var newFontSizeTitle = Math.floor(fontsizetitle * percentage);
	$(".divclass").css("font-size", newFontSizeTitle)
}
</script>
</head>
<body>

<!--Header_section-->
<header id="header_outer">
  <div class="container">
    <div class="header_section">
      <div class="logo"><a href="{% url 'quest:index' %}"><img src="{% static 'quest/img/logo.png' %}" alt=""></a></div>
      <nav class="nav" id="nav">
        <ul class="toggle">
          <li><a href="{% url 'squrl:squrl' %}">Try sqURL</a></li>
          <li><a href="{% url 'quest:index' %}">Try newsQuest</a></li>
          <li><a href="{% url 'quest:projects' %}">Other Projects</a></li>
          <li><a href="{% url 'quest:contact' %}">About me</a></li>
        </ul>
        <ul class="">
          <li><a href="{% url 'squrl:squrl' %}">Try sqURL</a></li>
          <li><a href="{% url 'quest:index' %}">Try newsQuest</a></li>
          <li><a href="{% url 'quest:projects' %}">Other Projects</a></li>
          <li><a href="{% url 'quest:contact' %}">About me</a></li>
        </ul>
      </nav>
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a>
    </div>
  </div>
</header>
<!--Header_section-->
{% block content %}
{% endblock content %}
<!--Service-->
<section class="twitter-feed"><!--twitter-feed-->
  <div class="container  animated fadeInDown delay-07s wow">
    <h4><span>Trending searches on Google!</span></h4>
    <p>{{ trending_searches }}</p>
  </div>
</section>

<footer class="footer_section" id="contact">
  <div class="container">
    <div class="footer_bottom"> <span>Copyright © 2017 <a href="{% url 'quest:contact' %}">Ishita Jain</a></span> </div>
  </div>
</footer>

<script type="text/javascript">
    $(document).ready(function(e) {
        $('#header_outer').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false

        });

    });
</script>
<script type="text/javascript">
	$(window).load(function(){

		$('a').bind('click',function(event){
			var $anchor = $(this);

			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 91
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">


  jQuery(document).ready(function($){
// Portfolio Isotope
	var container = $('#portfolio-wrap');


	container.isotope({
		animationEngine : 'best-available',
	  	animationOptions: {
	     	duration: 200,
	     	queue: false
	   	},
		layoutMode: 'fitRows'
	});

	$('#filters a').click(function(){
		$('#filters a').removeClass('active');
		$(this).addClass('active');
		var selector = $(this).attr('data-filter');
	  	container.isotope({ filter: selector });
        setProjects();
	  	return false;
	});


		function splitColumns() {
			var winWidth = $(window).width(),
				columnNumb = 1;


			if (winWidth > 1024) {
				columnNumb = 8;
			} else if (winWidth > 900) {
				columnNumb = 6;
			} else if (winWidth > 479) {
				columnNumb = 3;
			} else if (winWidth < 479) {
				columnNumb = 1;
			}

			return columnNumb;
		}

		function setColumns() {
			var winWidth = $(window).width(),
				columnNumb = splitColumns(),
				postWidth = Math.floor(winWidth / columnNumb);

			container.find('.portfolio-item').each(function () {
				$(this).css( {
					width : postWidth + 'px'
				});
			});
		}

		function setProjects() {
			setColumns();
			container.isotope('reLayout');
		}

		container.imagesLoaded(function () {
			setColumns();
		});


		$(window).bind('resize', function () {
			setProjects();
		});

});
$( window ).load(function() {
	jQuery('#all').click();
	return false;
});
</script>
</body>
</html>