{% extends "quest/base.html" %}
{% load static %}

{% block content %}
<section class="main-section team" id="team"><!--main-section team-start-->
  <div class="container">
    <h2>Hi! I'm Ishita Jain.</h2>
    <h6>I'm an agile Parselmouth (read: "Python" is my language and I believe in agile methodology) having strong analytical skills and an interest in automating systems. I was a core member for development of a new, lighter and faster website for Dubizzle.com's e-commerce expansion from Dubai to Middle East North Africa; reduced page load time from 2.29 to 0.8 seconds. Currently working as Platform Lead of Software &amp; Training Unit at JLJ Group, India, I take ownership of successful project on-boarding, implementation (by teams of 4-6 while doubling up as a code contributor myself) and delivery. With 4 years of experience in working effectively within teams as well as against deadlines, I am a seasoned self-motivated team player. I have a bachelor's degree in Computer Science Engineering with honors in Data Analytics &amp; Warehousing, Image Analysis &amp; Machine Intelligence and Finance streams. I received the University's All Rounder Gold Medal for consistent academic and overall performance. With an undying passion for exploring new experiences, I have visited 16 countries across 4 continents and counting.</h6>
    <div class="team-leader-block clearfix">
      <div class="team-leader-box">
        <div class="team-leader wow fadeInDown delay-03s">
          <div class="team-leader-shadow"></div>
          <img src="{% static 'quest/img/IshitaJain.jpg'  %}" alt="">
        </div>
        <h3 class="wow fadeInDown delay-03s">POSITIONS OF RESPONSIBILITY </h3>
        <span class="wow fadeInDown delay-03s">IIIT Delhi</span>
        <p class="wow fadeInDown delay-03s">
          <ul>
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Senate Member</b>
                </div>
                <div class="col-lg-9">
                  Voted as the IIITD Student Council Representative twice (2008 – 10, 2011 – 12)
                </div>
              </div>
            </li>
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Cultural Coordinator, IIITD</b>
                </div>
                <div class="col-lg-9">
                  Founded Music Club; Introduced intra-college music competitions (2008 – 10)
                </div>
              </div>
            </li>
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Treasurer Office Bearer</b>
                </div>
                <div class="col-lg-9">
                   IIITD-ACM Student Chapter - Budgeting and operations for the fiscal year (2010 – 11)
                </div>
              </div>
            </li>          
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Organizing Team</b>
                </div>
                <div class="col-lg-9">
                  First Techfest of IIITD – ESYA (2012)
                </div>
              </div>
            </li>          
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Founder</b>
                </div>
                <div class="col-lg-9">
                  Pixelate IIITD-ACM Photography Interest Group
                </div>
              </div>
            </li>
          </ul>
        </p>      
      </br><h3 class="wow fadeInDown delay-03s">EXTRA-CURRICULAR ACTIVITIES</h3></br>
        <p class="wow fadeInDown delay-03s">
          <ul>
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Music</b>
                </div>
                <div class="col-lg-9">
                  4 year Diploma, Classical Vocal; Won State Level; represented at Nationals (SangamKala, Sangeetayan)
                </div>
              </div>
            </li>          
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Arts</b>
                </div>
                <div class="col-lg-9">
                  Received prizes at the National Shankar’s Art Competition for 4 years (1997 – 2000); Silver Medal in 2001
                </div>
              </div>
            </li>          
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Social</b>
                </div>
                <div class="col-lg-9">
                  Women Empowerment: organized Azaad Naari Workshop; Speaker at Panel Discussions</br>Isha Foundation, Volunteer – non-profit promotes Yoga, social upliftment and ecological conservation</br>Kanya Ashram, Facilitator – home-school for orphaned girls; Facilitated donation of 1000 clothes till date</br>Taught under-privileged kids for 2 years in an NGO, Anubhav Shiksha Kendra at RK Puram, Delhi
                </div>
              </div>
            </li>          
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Sports</b>
                </div>
                <div class="col-lg-9">
                  Won medal in the 5Km Dubai Women’s Run at the Palm (2012)</br>Won the Intra-College Women Football Tournament and Golden Boot award twice, Women Table Tennis Tournament twice and earned third position in Billiards Tournament
                </div>
              </div>
            </li>          
            <li>
              <div class="row" style="text-align:left;">
                <div class="col-lg-3">
                  <b>Travel</b>
                </div>
                <div class="col-lg-9">
                  Avid traveler: Visited 16 countries across 4 continents
                </div>
              </div>
            </li>
          </ul>
        </p>  
      </div>
    </div>
  </div>
</section>
<!--Header_section-->
<footer class="footer_section" id="contact">
  <div class="container">
    <section class="main-section contact" id="contact">
      <div class="contact_section">
        <h2>Contact</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="contact_block">
              <div class="contact_block_icon rollIn animated wow"><span><i class="fa-home"></i></span></div>
              <span> New Delhi, India </span> </div>
          </div>
          <div class="col-lg-4">
            <div class="contact_block">
              <div class="contact_block_icon icon2 rollIn animated wow"><span><i class="fa-phone"></i></span></div>
              <span> +91-9899732100 </span> </div>
          </div>
          <div class="col-lg-4">
            <div class="contact_block">
              <div class="contact_block_icon icon3 rollIn animated wow"><span><i class="fa-pencil"></i></span></div>
              <span> <a href="mailto:ijain89@gmail.com "> ijain89@gmail.com </a> </span> </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 wow fadeInLeft">
          <div class="contact-info-box address clearfix">
            <h3>Fill the form and I'll contact you soon!</h3>
            <p>Watch this page for further development of Project Newsquest. Feedback and suggestions are welcomed!</p>
          </div>
          <ul class="social-link">
            <li class="facebook animated bounceIn wow delay-02s"><a href="https://www.facebook.com/ijain89"><i class="fa-facebook"></i></a></li>
            <li class="gplus animated bounceIn wow delay-03s"><a href="https://plus.google.com/+IshitaJain89"><i class="fa-google-plus"></i></a></li>
            <li class="bitbucket animated bounceIn wow delay-04s"><a href="https://bitbucket.org/JLJ/"><i class="fa-bitbucket"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-6 wow fadeInUp delay-06s">
          <div class="form">
            <form action="{% url 'quest:contact' %}" method="post">
                {% csrf_token %}
                <input class="input-text animated wow flipInY delay-02s" id="id_your_name" type="text" name="your_name" value="Your Name *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">
                <input class="input-text animated wow flipInY delay-04s" id="id_sender" type="text" name="sender" value="Your E-mail *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">
                <textarea class="input-text text-area animated wow flipInY delay-06s" id="id_message" name="message" cols="0" rows="0" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">Your Message *</textarea>
                <input class="input-btn animated wow flipInY delay-08s" type="submit" value="send message">
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>

{% endblock content %}