{% extends "quest/base.html" %}
{% load static %}

{% block content %}
<!--Top_content-->
<section id="top_content" class="footer_section">
  <div class="container">
    <div class="row">
      <div class="top_left_cont flipInY wow animated">
        <h2 style="color:white;">Project newsQuest</h2>
        <p style="color:white;">
          Project newsQuest is a Django Python project created using the NewsAPI and newspaper library. It serves the purpose of aggregation of news articles from multiple sources in real time based on parameters like newspaper source, category, language, country etc.
        </p>
      </div>
    </div>
  </div>
</section>
<!--Top_content-->
<!--Service-->
<section  id="service">
  <div class="container">
    <h2>Let us dive right in!</h2>
    <div class="service_area">
      <div class="row">
          <form action="{% url 'quest:index' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="col-lg-4">
              <h3 class="animated fadeInUp wow" style="text-align:center;">{{ field.label }}</h3>
              <div class="row" style="padding-left: 30%; text-align:left;">
                {{ field }}
              </div>
            </div>
            {% endfor %}
          <br/><div style="color:red; text-align:center;">{{ error }}</div><br/>
          <div style="text-align:center;"><input class="input-btn animated wow flipInY" type="submit" value="Try it!" /></div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--Service-->
{% endblock content %}