{% extends "quest/base.html" %}
{% load static %}

{% block content %}

<section id="top_content" class="top_cont_outer">
  <div class="container">
    <div class="row">
      <div class="top_left_cont flipInY wow animated">
        <h2>OTHER PROJECTS</h2>
        <p>
          <ul>
            <li>
              Coded Python Web Scraping scripts using Scrapy and XPath
            </li>
          </br>
            <li>
              Developed and deployed Target Management Dashboard for Mahindra &amp; Mahindra at 386 dealerships across India
            </li>
          </br>
            <li>
              Coded and deployed School and Institute ERP Systems at 2 locations using C# .NET 4.5, SQL Server
            </li>
          </br>
            <li>
              Managed Responsive Website Development, Deployment and SEO using Bootstrap, HTML5, CSS3, JavaScript
            </li>
          </br>
            <li>
              B.Tech. Project: Improving Search Result Presentation in Wikipedia using JAVA, MySQL – Created visual clusters of Wikipedia articles for recommendations based on search keywords 
            </li>
          </br>
            <li>
              E-mail classification into HAM and SPAM using Information Retrieval Techniques. Extended to Sentiment Classification using Machine Learning Techniques – Studied effectiveness and analyzed reasons for variations 
            </li>
          </br>
            <li>
              Image Analysis and Pattern Recognition Techniques – Recognize the species of a given leaf using Shape and Texture analysis. Extended using Bayes and SVM classifiers 
            </li>
          </br>
            <li>
              Data Mining and comparative analysis of companies based on Financial Statements. 
            </li>
          </br>
            <li>
              Probability and Statistics project in Java – Prediction of player performances given parameters like opponent country, home or foreign ground, player partnerships etc.; proposing the best possible team
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}