{% extends "quest/base.html" %}
{% load static %}

{% block content %}

<!--Header_section-->
<div class="c-logo-part"><!--c-logo-part-start-->
  <div class="container">
      <form action="{% url 'quest:analysis' %}" method="post">
        {% csrf_token %}
        <h3 align="center">Get me some analysis on article below with {{ form }}</h3>
        <input name="url_list" type="hidden" value="{{ url_list }}" />
        <div align="center"><input class="input-btn animated wow flipInY" type="submit" value="Show me magic!" /></div>
      </form>
  </div>
</div>
<!--Top_content-->
<section id="top_content" class="top_cont_outer">
  <div class="container">
    <div class="row">
      <div class="top_left_cont flipInY wow animated">
        <h2>Articles</h2>
        <p>
          {% autoescape off %}{{ articles }}{% endautoescape %}
        </p>
      </div>
    </div>
  </div>
</section>
<!--Top_content-->

{% endblock content %}