{% extends "quest/base.html" %}
{% load static %}

{% block content %}

<!-- Portfolio -->
<section id="Portfolio" class="content">

  <!-- Container -->
  <div class="container portfolio-title">

    <!-- Section Title -->
    <div class="section-title">
      <h2>News Sources</h2>
    </div>
    <!--/Section Title -->

  </div>
  <!-- Container -->
  <div class="portfolio-top"></div>
  <div class="portfolio">
    </br><div style="color:red;" align="center">{{ error }}</div></br>
    <div class="isotope" style="position: relative; height: auto;" id="portfolio-wrap">

      <!-- Portfolio Item With PrettyPhoto  -->
      {% for source in sources.sources %}
        <div class="portfolio-item one-four  web isotope-item">
          <div class="portfolio-image">
            <a href="{% url 'quest:results' source.id %}"><img src="https://icons.better-idea.org/icon?size=70..120..200&url={{ source.url }}"  alt="{{ source.id }}">
              <div class="project-overlay">
                <div class="project-info">
                  <h4 class="project-name">{{ source.name }}</h4>
                  <p class="project-categories">{{ source.description }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
      <!--/Portfolio Item With PrettyPhoto  -->
    </div>
    <!--/Portfolio Wrap -->
  </div>
</section>

{% endblock content %}