{% extends "quest/base.html" %}
{% load static %}

{% block content %}

<!--Top_content-->
<section id="top_content" class="footer_section">
  <div class="container">
    <div class="row">
      <div class="top_left_cont flipInY wow animated">
        <h2 style="color:white;">Project sqURL - squeezed URL</h2>
        <p style="color:white;">
          Project sqURL is a Django Python project to shorten urls.
        </p>
      </div>
    </div>
  </div>
</section>
<!--Top_content-->
<!--Header_section-->
<div class="c-logo-part"><!--c-logo-part-start-->
  <div class="container">
      <form action="{% url 'squrl:squrl' %}" method="post">
        {% csrf_token %}
        <h3 align="center">Get me a short sqURL for {{ form }}</h3>
        <div align="center"><input class="input-btn animated wow flipInY" type="submit" value="Show me magic!" /></div>
      </form>
  </div>
</div>
<!--Top_content-->
<section id="top_content" class="top_cont_outer">
  <div class="container">
    <div class="row">
      <div class="top_left_cont flipInY wow animated">
        {% if url %}
          <h4 align="center">sqURL: <a href="{{ url }}">http://ijain89.pythonanywhere.com/{{ url }}</a></h4>
        {% endif %}
        <h2>Stored URLs</h2>
        <p>
          <table align="center" class="table">
            <tr>
                <th>Shortened sqURL</th>
                <th>Input URL</th>
                <th>Last Access Timestamp</th>
                <th>Number of Visits via sqURL</th>
            </tr>
            {% for item in url_list %}
            <tr>
                <td><a href="http://ijain89.pythonanywhere.com/squrl/{{ item.short_url }}">{{ item.short_url }}</a></td>
                <td><a href="{{ item.input_url }}">{{ item.input_url }}</a></td>
                <td>{{ item.access_date }}</td>
                <td>{{ item.visits }}</td>
            </tr>
            {% endfor %}
        </table>
        </p>
      </div>
    </div>
  </div>
</section>
<!--Top_content-->

{% endblock content %}